<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">
      TestDraftGen3
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/photos" class="dropdown-item">
              Photos
            </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if current_passenger.blank? %>
          <li class="nav-item">
            <a href="/passengers/sign_in" class="nav-link">
              Passenger sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/passengers/sign_up" class="nav-link">
              Passenger sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/passengers/edit" class="nav-link">
              Passenger edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/passengers/sign_out" data-method="delete" class="nav-link">
              Passenger sign out
            </a>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if current_driver.blank? %>
          <li class="nav-item">
            <a href="/drivers/sign_in" class="nav-link">
              Driver sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/drivers/sign_up" class="nav-link">
              Driver sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/drivers/edit" class="nav-link">
              Driver edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/drivers/sign_out" data-method="delete" class="nav-link">
              Driver sign out
            </a>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
