<div class="card-footer">
  <div class="row">
    <div class="col">
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-block btn-outline-secondary">
        Edit photo
      </a>
    </div>

    <div class="col">
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-block btn-outline-secondary">
        Delete photo
      </a>
    </div>
  </div>
</div>
