<div class="card">
  <%= render "photo_templates/photo_details_card_header" %>

  <%= render "photo_templates/photo_details_card_body" %>

  <%= render "photo_templates/photo_details_card_footer" %>
</div>
