<h1 class="card-header h4 d-flex align-items-center">
  <a href="/photos" class="btn btn-sm btn-outline-secondary mr-3">
    <i class="fas fa-chevron-left fa-fw"></i>
  </a>

  Photo #<%= @photo.id %> details
</h1>
