<!-- Validation failure messages -->
<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |message| %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <%= message %>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>

<h1>
  Add a new photo
</h1>

<hr>

<form action="/create_photo" method="post">
  <!-- Label and input for image -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="text" id="image" name="image" class="form-control" value="<%= @photo.image %>">
  </div>

  <!-- Label and input for caption -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @photo.caption %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
