<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <h1 class="card-header h4 d-flex align-items-center">
        <a href="/photos" class="btn btn-sm btn-outline-secondary mr-3">
          <i class="fas fa-chevron-left fa-fw"></i>
        </a>

        Add a new photo
      </h1>

      <div class="card-body">
        <%= render "photo_templates/new_form_validation_messages" %>

        <%= render "photo_templates/create_form" %>
      </div>
    </div>
  </div>
</div>
